:root{
    --purple: 163, 91, 254;
    --yellow: 255, 210, 157;
    --pink: 254, 111, 248;
    --orange: 255, 158, 123;
    --dark-black:  53, 53, 53;
    --light-2:  98, 98, 98;


    --ff:'Inter Tight', sans-serif;

}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
       
}

@media (max-width: 1920px) {

 

     body{
      transform-style: preserve-3d;
       
        perspective: 10000px;
        padding: 0;
        background-image: url(Assets/grid.jpg);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: #1D1D1D;
        
        width:100vw ;
        height: auto;
        /* overflow: hidden;     */
    }

  
    section {
    top: 400px;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: top;    
    margin: 0px;
    position: absolute;
    width: 100%;
    height: fit-content;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(#ffffff, 0.5);
    }

    .scroll-container-2{
      transform: translateZ(-50px);
      transform-style: preserve-3d;
      width: 100vw;
      rotate: 8deg;
      
      
    } 
    .scroll-container-1{
      transform: translateZ(50px);
      transform-style: preserve-3d;
      width: 100vw;
      /* rotate: -2deg; */
      
      
    } 
    
    .scroll {         
      height: fit-content;
      display: flex;      
      width: 100%;
      gap: 0px;
      box-shadow: 0 8px 16px rgba(#ffffff, 0.5);    
    }

   

  .scroll-container-1 >.scroll div {   
    gap: 25px;
    display: flex;
    align-items: center;
    margin: 0px;
    height:40px;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 25px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #212121;
    background: linear-gradient(
        45deg,
        rgb(var(--purple)),
        rgb(var(--pink)),
        rgb(var(--orange)),
        rgb(var(--yellow)),
        rgb(var(--purple))       
      );
      
    animation: animate 40s -40s linear infinite;
    will-change: transform;
    
    &:nth-child(2) {
      animation: animate2 40s -20s linear infinite;
    }
  }

  .scroll-container-2 >.scroll div {   
    gap: 25px;
    display: flex;
    align-items: center;
    margin: 0px;
    height:40px;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 25px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #212121;
    background: linear-gradient(
        45deg,
        rgb(var(--purple)),
        rgb(var(--yellow)),
        rgb(var(--orange)),
        rgb(var(--purple)),       
        rgb(var(--pink))
      );
      
    animation: animate 40s -40s linear infinite;
    will-change: transform;
    
    &:nth-child(2) {
      animation: animate2 40s -20s linear infinite;
    }
  }

  

   
  .text4 {
    transform: rotate(1deg) translate(-200px, 250px);
  }
  
  @keyframes animate {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  @keyframes animate2 {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  




    
  .container{
        transform-style: preserve-3d;
        margin: 0;
        width: 100vw;
        padding-top: 35px;
        padding-bottom: 35px;
        /* background-color: #ffffff12; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 35px; 
         
    
  }

  #container, .title, .bold {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
  }


    
    
    h1{ 
        text-align: center;
        font-size: 50px;
        letter-spacing: -2.5%;
        line-height: 100%;
        font-weight: 400;
        letter-spacing: -1px;
        font-family: 'Inter Tight', sans-serif;
        margin: 0;
        color: rgb(255, 255, 255);
    }
    
    .tag{
        font-family: var(--ff);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 20px 5px;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 65px;
        border: 1px solid #ffffff2f;
    }

    
      
      .tag:before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowingbn5 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 65px;
      }
      
      @keyframes glowingbn5 {
        0% {
          background-position: 0 0;
        }
        50% {
          background-position: 400% 0;
        }
        100% {
          background-position: 0 0;
        }
      }
      
      .tag:active {
        color: #000;
      }
      
      .tag:active:after {
        background: transparent;
      }
      
      .tag:hover:before {
        opacity: 1;
      }
      
      .tag:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #191919;
        left: 0;
        top: 0;
        border-radius: 65px;
      }

    

    .tag-group{
        max-width: 300px;
        display: flex;
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
    }

     .qr{
      transform-style: preserve-3d;
      transform: translateZ(20px);

     }
    

    .content{
        transform-style: preserve-3d;
        max-width: 180px;
        position: relative;
        width: auto;
        /* backdrop-filter: blur(50px); */
        background: linear-gradient(
          -45deg,
          #353535,
          #3d3d3d);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 25px;
        border-radius: 30px;
        gap: 18px;
        border: 1px solid #c284ff13;
    }
    
    .scan{
      transform: translateZ(50px);
      transform-style: preserve-3d;
      font-family: var(--ff);
      transition: .1s;
      text-decoration: none;
      /* background-color: #ffffff15; */
      font-family: var(--ff);
      color: #ffffff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 12px 25px 12px;
      border-radius: 65px;
      border: 1px solid #ffffff2f;
      
    }
    
    .scan:hover{
        transition: .1s;
        scale: 110%;
        text-decoration: none;
        /* background-color: #ffffff15; */
        font-family: var(--ff);
        color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 12px 25px 12px;
        border-radius: 65px;
        border: 1px solid #ffffff2f;
    
    }
    
    .scan a{
        text-decoration: none;
        color: #ffffff;
    }
    
    .container > .content > .qr{
      transform: translateZ(100px);
    } 
    
    
    button{
        transition:325ms;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 600;
        font-size: 16px;
        width: 158px;
        height: 45px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: rgba(var(--purple));
        border-radius: 12px;
    }
    
    button:hover{
        box-shadow: 0px 8px rgba(var(--purple), 0.3);
        transition: .3s;
        scale: 95%;
        font-family: 'Inter Tight', sans-serif;
        font-weight: 600;
        font-size: 16px;
        width: 158px;
        height: 45px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: rgba(var(--purple));
        border-radius: 12px;
    }
    
   
    .icons a{
        font-size: 25px;
        text-decoration: none;
        transition:200ms;
        color: #a8a8a8;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb( var(--dark-black));
        width: 55px;
        height: 55px;
        border-radius: 15px;
        border: 2px solid #4141412c;
    }
    
    .icons a:hover:active{
        text-decoration: none;
        box-shadow: 0px 4px rgba(var(--purple), 0.5);;
        scale: 80%;
        color: rgba(var(--purple));;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2e2ff;
        width: 55px;
        height: 55px;
        border-radius: 15px;
        border: 2px solid #9317ff2c;
    }
    
    .icons a:hover{
        text-decoration: none;
        box-shadow: 0px 4px rgba(var(--purple), 0.5);
        scale: 110%;    
        color: rgba(var(--purple));;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f2e2ff;
        width: 55px;
        height: 55px;
        border-radius: 15px;
        border: 2px solid #9317ff2c;
    }
    
    .icon-group{
        width: auto;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 14px;
    }
    


    .tab-image{
        width: 80px;
        height: 80px;
        border-radius: 12px;
        overflow: hidden;
    }

    .tab .tab-text{
        font-family: var(--ff);
        display: flex;
        max-width: 500px;
        align-items: center;
        height: auto;
        color: #ffffff;    
        text-decoration: none;
    }

    .tab {
        
        opacity: 0;
        transform: translateY(50px);
        transition: opacity 0.5s ease, transform 0.5s ease;
    }

    
    .tab a{   
        transition:200ms; 
        text-decoration: none;
        padding: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        
        gap: 20px;
        background-color: #353535;
        border-radius: 25px;

        
    }

    .tab a:hover{
            transition:200ms;
            text-decoration: none;
            box-shadow: 0px 4px rgba(var(--light-2), 1);
            scale: 105%;    
            /* color: rgba(var(--purple));; */
            
            background-color:rgb(var(--dark-black));
            border-radius: 25px;
            border: 1px solid #e7e7e72c;
    }

    .tab-group{
        width: 375px;
        display: flex;
        flex-direction: column;
         gap: 15px;
        flex-wrap: wrap;
    }

    footer{
        color: #a8a8a86f;
        font-family: var(--ff);
        max-width: 100vw;
        display: flex;
        font-size: 12px;
        justify-content: center;
        
    }

   .free::after {
        margin: 10px;
        content: "Free";
        background-color:rgb(var(--purple));
        padding: 8px;
        width: auto;
        height: auto;
        color: #ffffff;
        font-size: 12px;
        font-family: var(--ff);
        font-weight: 800;
        border-radius: 10px;
    }

   
   .free_ebook::after {
        margin: 10px;
        content: "Free eBook";
        background-color:rgb(var(--purple));
        padding: 8px;
        width: auto;
        height: auto;
        color: #ffffff;
        font-size: 12px;
        font-family: var(--ff);
        font-weight: 800;
        border-radius: 10px;
    }

   .divider{
    padding: 5px;
    height: auto;
    width: auto;
    margin: 10px;
    display: flex;
    justify-content: center;
    font-family: var(--ff);
    color: #a8a8a8;
    border: 3px solid rgb( var(--dark-black));
    border-radius: 10px;
   }

}











@media (max-width: 376px){



body{
    transform-style:flat;
    display: flex;
    align-self: center;
    padding: 0;
    width: 360px;
    background-color: #1D1D1D;
    background-image: url(Assets/grid.jpg);
    
    height: auto;
    overflow: auto;
     
}



.container{
  transform-style:flat;
    margin:0px;
    width:370px;
    /* background-color: #ffffff12; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;   

}


h1{ 
    width:320px;
    text-align: center;
    font-size: 50px;
    letter-spacing: -2.5%;
    line-height: 100%;
    font-weight: 400;
    letter-spacing: -1px;
    font-family: 'Inter Tight', sans-serif;
    margin: 0;
    color: rgb(255, 255, 255);
}


.tag{
    font-size: 12px;
    font-family: var(--ff);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px;
    border-radius: 65px;
    border: 1px solid #ffffff2f;


}

.tag-group{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.content{
      transform-style:flat;
      

    max-width: 180px;
    position: relative;
    width: auto;
    /* backdrop-filter: blur(50px);
        background-color: #3535355a; */
    background: linear-gradient(
          -45deg,
          #353535,
          #3d3d3d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    border-radius: 30px;
    gap: 18px;
}

.qr{
  transform-style:flat;
  transform: translateZ(20px);

}



button{
    transition:325ms;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 158px;
    height: 45px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(var(--purple));
    border-radius: 12px;
}

button:hover{
    box-shadow: 0px 8px rgba(var(--purple), 0.3);
    transition: .3s;
    scale: 95%;
    font-family: 'Inter Tight', sans-serif;
    font-weight: 600;
    font-size: 16px;
    width: 158px;
    height: 45px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(var(--purple));
    border-radius: 12px;
}


.icons a{
    font-size: 25px;  
    text-decoration: none;
    transition:200ms;
    color: #a8a8a8;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb( var(--dark-black));
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 2px solid #4141412c;
}

.icons a:hover:active{
    text-decoration: none;
    box-shadow: 0px 4px rgba(var(--purple), 0.5);;
    scale: 80%;
    color: rgba(var(--purple));;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2e2ff;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 2px solid #9317ff2c;
}

.icons a:hover{
    text-decoration: none;
    box-shadow: 0px 4px rgba(var(--purple), 0.5);
    scale: 90%;    
    color: rgba(var(--purple));;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2e2ff;
    width: 55px;
    height: 55px;
    border-radius: 15px;
    border: 2px solid #9317ff2c;
}

.icon-group{
    width: 220px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 14px;
}
.tab .tab-text{
    display: flex;
    max-width: 330px;
    color: #ffffff;    
    text-decoration: none;
}

.tab-group{
width: 345px;
}


.free_ebook::after {
    margin: 10px;
    content: "Free eBook";
    background-color:rgb(var(--purple));
    padding: 8px;
    width: 70px;
    height: auto;
    color: #ffffff;
    font-size: 12px;
    font-family: var(--ff);
    font-weight: 800;
    border-radius: 10px;
}
}

